:root {
  --floral-white: #fffaf0;
  --blue-munsell: #3b9aab;
  --avocado: #6f843e;

  --taupe-default: rgb(74, 62, 53);
  --taupe-light: rgb(85, 72, 62);
  --taupe-active: rgb(113, 99, 88);
  --taupe-hover-border: rgb(144, 132, 123);

  --atomic-tangerine-default: rgb(240, 123, 87);
  --atomic-tangerine-light: rgb(250, 133, 97);
  --atomic-tangerine-active: rgb(255, 152, 130);
  --atomic-tangerine-hover-border: rgb(255, 162, 140);

  --auburn-default: rgb(170, 27, 39);
  --auburn-light: rgb(190, 42, 54);
  --auburn-active: rgb(215, 57, 69);
  --auburn-hover-border: rgb(245, 87, 99);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--floral-white);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
